/** Blogr Description starts here **/

.description {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 10rem 0 3rem 10rem;
    background: #f7f2f2;
    z-index: 2;
}

.description h2 {
    font-size: 2.5rem;
    color: #1f3f5b;
    text-align: center;
    margin-bottom: -4rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
}

.description .description_content {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.description .description_content .description_content_rightcolumn {
    position: relative;
    flex-basis: 50%;
}

.description .description_content .description_content_rightcolumn .desktop_editor {
    width: 150%;
    position: relative;
}

.description .description_content .description_content_rightcolumn .mobile_editor {
    display: none;
}

@media (max-width: 991px) {
    .description {
        padding: 4rem 2rem 8rem;
    }

    .description h2 {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    .description .description_content {
        flex-wrap: wrap;
    }

    .description .description_content .description_content_rightcolumn {
        position: relative;
        flex-basis: 100%;
        order: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .description .description_content .description_content_rightcolumn .desktop_editor {
        display: none;
    }

    .description .description_content .description_content_rightcolumn .mobile_editor {
        display: block;
        width: 110%;
        margin-bottom: 1.5rem;
    }


}

@media (max-width: 320px) {
    .description h2 {
        font-size: 1.5rem;
    }
}