.features_rightcolumn {
    flex-basis: 40%;
    position: relative;
}

.features_rightcolumn h5 {
    font-size: 1.8rem;
    color: #1f3f5b;
    margin-bottom: 1.5rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
}

.features_rightcolumn p {
    font-size: .95rem;
    color: #1f3f5b;
    margin-bottom: 3rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    line-height: 2.1rem;
}

@media (max-width: 991px) {
    .features .features_rightcolumn {
        flex-basis: 100%;
        text-align: center;
    }

    .features .features_rightcolumn h5 {
        font-size: 1.7rem;
    }
}