.services_rightcolumn {
    flex-basis: 50%;
}

.services_rightcolumn h4 {
    font-size: 2.3rem;
    color: hsl(0, 0%, 100%);
    margin-bottom: 2rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
}

.services_rightcolumn p {
    font-size: 1.1rem;
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    line-height: 1.9rem;
}

@media (max-width: 991px) {
    .services .services_rightcolumn {
        flex-basis: 100%;
        text-align: center;
        margin-top: 6rem;
    }
}

@media (max-width: 320px) {

    .services .services_rightcolumn {
        margin-top: 2rem;
    }

    .services .services_rightcolumn h4 {
        font-size: 2.1rem;
    }

}