/** Footer starts here **/

footer {
    width: 100%;
    padding: 4rem 10rem 6rem;
    background: #25252d;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-top-right-radius: 6rem;
}

footer .footer_box {
    flex-basis: 20%;
}

footer .footer_box h6 {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

footer .footer_box ul li {
    list-style: none;
    margin-bottom: 1rem;
}

footer .footer_box ul li a {
    text-decoration: none;
    color: #c8c8cb;
    font-size: 1rem;
    transition: .5s;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

footer .footer_box ul li a:hover {
    text-decoration: underline;
}

footer .attribution {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    color: #c8c8cb;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

footer .attribution a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

@media (max-width: 991px) {
    footer {
        padding: 4rem 0 6rem;
        flex-wrap: wrap;
    }

    footer .footer_box {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 3rem;
    }

    footer .attribution {
        font-size: .9rem;
    }

    footer .attribution a {
        font-size: .9rem;
    }
}

@media (max-width: 320px) {
    footer .attribution {
        font-size: .7rem;
    }

    footer .attribution a {
        font-size: .7rem;
    }
}