/** Features starts here **/

.features {
    width: 100%;
    position: relative;
    padding: 15rem 10rem 15rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f7f2f2;
    z-index: 2;
}

.features .features_leftcolumn {
    flex-basis: 50%;
    position: relative;
}

.features .features_leftcolumn .desktop_illustration {
    width: 150%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -16rem;
}

.features .features_leftcolumn .mobile_illustration {
    display: none;
}




/** Responsive Design starts here **/

@media (max-width: 991px) {
    .features {
        padding: 4rem 2rem;
        flex-wrap: wrap;
    }

    .features .features_leftcolumn {
        flex-basis: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .features .features_leftcolumn .desktop_illustration {
        display: none;
    }

    .features .features_leftcolumn .mobile_illustration {
        display: block;
        width: 130%;
        margin-bottom: 1.5rem;
    }
}